
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index stuff</h2> <br />
<div class="alert alert-success">
    <a href="https://localhost:44399/NewFunctionTests/PrintIndex">Get PDF version</a>
</div> <br />

