
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Try Again</h1>
<h3>An error occurred while processing your request.</h3> <br />
<span >
This is most likely caused by the GoDaddy Server (the host) causing some random error. Most of the time trying again will fix the problem. If this problem keeps happening you should report it to the developer.

</span>


@*
       <body background="~/Content/forbiddenimage.jpg">
    </body>

*@



