
@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageUser</h2><br />
Register new: <br />
CanEdit User: @Html.ActionLink("Register", "Register", "Account") <br />
CanManageUser User:  <br />
View User:  <br />

