@model BA_Portal.Models.PDF

@{
    ViewBag.Title = "CheckFormValues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckFormValues</h2> <br />

 
    A: @Model.SearchTag <br />
    B: @Model.Description


