
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2> <br />

<form action="http://localhost:49534/NewFunctionTests/OptionalParamater">
    First name:<br>
    <input type="text" name="teststring" value="Mickey"><br>

    <input type="submit" value="Submit">
</form>




<body background="~/Content/backgroundimage4.jpg">

</body>


