<div class="page-header">
    <h1>Signature App demonstration using SignaturePad and Web API</h1>
</div>
<div class="panel panel-default">
    <div class="panel-body" id=".signature-pad">
        <div></div>
        <div>
            <div class="alert alert-info">Sign above</div>
            <button class="btn btn-info" data-action="clear">Clear</button>
            <button class="btn btn-success" data-action="save">Save</button>
        </div>
    </div>
</div>

