
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Help Page</h2> 
<h3>Welcome to BA Portal! </h3>
You may want a quick overview of how to access the main features related to clients and paperwork. This help page covers those basics. <br />
<br />
<img src="~/Content/Help1.png" /> <br /><br />
First of all, to do anything related to clients you will have to click on the "Clients" link (highlighted red in the picture). <br />
<br /><br /><br />
<img src="~/Content/Help2.png" /><br /><br />
Once you've done that you will arrive at the clients database page. This page may be empty when you first get the program because there are no clients currently added to the database! To add a new client click on the "New Patient" button. This button is designed function as the basic patient intake form, click here to see it <a href="~/Content/PDFforPersonalInformation.pdf">(Personal Information form)</a>, and it will prompt you for the basic personal information that clients give the first time they arrive. <br />
This form also requires that the client and the acupuncturist sign the form, so it may be best to have the client with you at this time. Alternatively you can fill in all the information yourself, and ask the client to sign it later by clicking on the create a new "personal information form" in the "All Forms" section (shown in the next picture). After you have created a client in the database by using the new patient button, all of the steps you will use to do paperwork for that client will be found in the "All Forms" section (also highlighted in red) that appears next to their entry. <br />
<br /><br /><br />
<img src="~/Content/Help3.png" /><br /><br />
Once you are on the All Forms page, you can navigate up and down through the page to add new documents to the different sections of the page. Each document is added by clicking on their respective "new [document]" button and will prompt you to fill out all the information that that document requires, then autogenerate a filled out pdf and store it in the database. You can then view or print out these documents by clicking on the "View PDF" button and selecting print from the page that appears afterwards or just check them to see if they are correct. <br />
<br /><br /><br />
<img src="~/Content/Help4.png" /><br /><br />
If you forget what a form is called, or don't know what it is called in this system then please click on the "What is a" [document] button, and the system will show you a picture of the form that that sections fills out. <br />
<br />
I hope this covers the basic functions needed to run your paperless acupuncture clinic. Please let me know what is missing, broken, or looks ugly and we will continue to work on making this application better. <br />
<br /> Thank you,
<strong><em>The Developer</em></strong>