
@{
    ViewBag.Title = "TakeAnotherAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<h3>Would you like to add your insurance information?</h3>
<div>
    <h2>@Html.ActionLink("Yes", "Create", "InsuranceInfoes", new { id = ViewBag.ID }, null)</h2>


    <h2>@Html.ActionLink("No", "Index", "Home", new { thanks=1 }, null)</h2>




</div>
